/* Global styling */

*, 
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar Styling */

#navbar{
    background-color: #4B0082 !important;
}

#navbar nav-item{
    color: #ffff !important;
}

img[alt='logo']{
    height: 60px;
    width: 160px
}

img[alt='logospan']{
    height: 40px;
    width: 120px;
}

/* Home view Styling */

img[alt="icon"]{
    height: 50px;
    width: 50px;
}

/* About Styling */
#aboutContent{
    background-color: #4B0082 !important;
    color: #ffff !important;
    /* border: 2px solid red; */
}

#meetTeam{
    background-color: rgb(206, 202, 202)  !important;
}


/* Login Styling */

#signinBtn, #submitBtn{
    background-color: #4B0082 !important;
    border: solid 1px #4B0082;
    border-radius: 7px;
}

#formContainer{
    border: #4B0082 solid 1px;
    border-radius: 7px;
}

/* Contact Page Styling */

#callBtn{
    color: #4B0082 !important;
    border: solid 1px #4B0082;
    border-radius: 7px;
}


/* Product Page Styling */
#button{
    background-color: #4B0082;
    color: #ffff;
    margin-left: 5px;
}

